{% extends 'base.html'%} {% load bootstrap4 %} {% block content %} {{block.super}}
<div class="container-fluid" id="form">
    <div class="col-md-12">
        <form id="questions">
            <div class="row">
                <div class="col-md-6">
                    Design.
                </div>

                <div class="col-md-6">
                    <input type="radio" name="rate1" id="terrible" checked="checked" value="terrible">Terrible
                    <input type="radio" name="rate1" id="poor" value="poor">Poor
                    <input type="radio" name="rate1" id="average" value="average">Average
                    <input type="radio" name="rate1" id="very good" value="very good">Very Good
                    <input type="radio" name="rate1" id="excellent" value="excellent">Excellent

                </div>
            </div>

            <br>
            <div class="row">
                </br>
                <div class="col-md-6">
                    Usability.
                </div>

                <div class="col-md-6">
                    <input type="radio" name="rate2" id="terrible" checked="checked" value="terrible">Terrible
                    <input type="radio" name="rate2" id="poor" value="poor">Poor
                    <input type="radio" name="rate2" id="average" value="average">Average
                    <input type="radio" name="rate2" id="very good" value="very good">Very Good
                    <input type="radio" name="rate2" id="excellent" value="excellent">Excellent

                </div>
            </div>

            <br>
            <div class="row">
                </br>
                <div class="col-md-6">
                    Content.
                </div>

                <div class="col-md-6">
                    <input type="radio" name="rate3" id="terrible" checked="checked" value="terrible">Terrible
                    <input type="radio" name="rate3" id="poor" value="poor">Poor
                    <input type="radio" name="rate3" id="average" value="average">Average
                    <input type="radio" name="rate3" id="very good" value="very good">Very Good
                    <input type="radio" name="rate3" id="excellent" value="excellent">Excellent

                </div>
            </div>

            <br>
            <!--div class="row">
            </br>
            <div class="col-md-6">
                Creativity.
            </div>

            <div class="col-md-6">
                <input type="radio" name="rate3" id="terrible" checked="checked" value="terrible">Terrible
                <input type="radio" name="rate3" id="poor" value="poor">Poor
                <input type="radio" name="rate3" id="average" value="average">Average
                <input type="radio" name="rate3" id="very good" value="very good">Very Good
                <input type="radio" name="rate3" id="excellent" value="excellent">Excellent

            </div>
            </div-->

            <br>
            <button class="btn btn-outline-success" type="submit" id="submit" name="reset_form" value="Reset Form" onclick="this.form.reset();">SUBMIT</button>
        </form>
    </div>
</div>
<div id="divhidden" style="display: none;">
    <div class="col-md-8">
        <form action="{% url 'sites:rate'  project.id %}" method="POST" enctype="multipart/form-data" id="ratingform">
            {% csrf_token %} {% bootstrap_form rateform %}
            <input type="submit" class="btn btn-outline-success" value="Upload">
        </form>
    </div>
</div>
{% endblock %}